<style type="text/css">
  
  /* Add a black background color to the top navigation */
.topnav {
    background-color: #37474F;
    overflow: hidden;
}


/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #607D8B;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
</style>
<div class="topnav" id="myTopnav">
  <%= link_to "Home", root_path%>
  <%= link_to "Assortment", categorys_path %>
  <div style="margin-left: 38%">
  <a class="active">BOOK TEMPLE - A book holds a house of gold.</a>
  </div>
    <ul style="margin-left: 90%">
    <% if current_user.nil? %>
    <li>
    <%= link_to user_session_path do %>

      <div width="100%", height="100%">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Simpleicons_Interface_user-black-close-up-shape.svg/2000px-Simpleicons_Interface_user-black-close-up-shape.svg.png", width="18px", height="18px">
      <i style="margin-left: 3px"> Sign in </i>
      </div>
      <%end%>
      </li>
      <% else %> 
      <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
      <div width="100%", height="100%">
      <img src="http://www.pvhc.net/img71/lipdywmlilvchiakrlmp.png", width="15%", height="15%">
      <i style="margin-left: 3px"> Log out </i>
      </div>
  <%end%>
      </li>
       <% end %>
    </ul>
</div>
